/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

select, option, button {
  font-family: inherit;  
}

body {
  background: #ccc;
  color: #665042;
  font-family: "Noto Sans", Roboto, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body,
#root{
}

@font-face {
  font-family: 'font-jf-openhuninn';
  src: url(public/fonts/jf-openhuninn-11.woff) format('woff');
}

@font-face {
  font-family: 'font-soukou-mincho';
  src: url(public/fonts/soukouMincho.woff) format('woff');
}

@font-face {
  font-family: 'genYoGothicTW-m';
  src: url(public/fonts/genYoGothicTW-m.woff) format('woff');
}

@font-face {
  font-family: 'genYoGothicTW-b';
  src: url(public/fonts/genYoGothicTW-b.woff) format('woff');
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
.editor {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.editor__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0 52px;
  flex-wrap: wrap;
  background: #333;
  position: relative;
  max-width: 960px;
}
.editor__wrap--text-edit-mode {
  padding: 0 0 140px;
}
.editor__wrap--banner-edit-mode {
  padding: 0 0 96px;
}
.editor__svg-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}
.editor__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #222;
}
.editor__row {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.editor__btn {
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

@font-face {
  font-family: 'fontello';
  src: url(public/fonts/fontello.eot);
  src: url(public/fonts/fontello.eot#iefix) format('embedded-opentype'),
       url(public/fonts/fontello.woff2) format('woff2'),
       url(public/fonts/fontello.woff) format('woff'),
       url(public/fonts/fontello.ttf) format('truetype'),
       url(public/fonts/fontello.svg#fontello) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?84306799#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-qrcode:before { content: '\e800'; } /* '' */
.icon-pen:before { content: '\e801'; } /* '' */
.icon-move:before { content: '\e802'; } /* '' */
.icon-folder:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-archive:before { content: '\e805'; } /* '' */
.icon-crop:before { content: '\e806'; } /* '' */
.icon-previous:before { content: '\e807'; } /* '' */
.icon-text-tool:before { content: '\e808'; } /* '' */
.icon-edit-text:before { content: '\e809'; } /* '' */
.icon-palette:before { content: '\e81a'; } /* '' */
.icon-bucket:before { content: '\e81b'; } /* '' */
.icon-bucket-all:before { content: '\e81c'; } /* '' */
.icon-mirror-horizontal:before { content: '\e81d'; } /* '' */
.icon-mirror-vertical:before { content: '\e81e'; } /* '' */
.icon-mirror-corner:before { content: '\e81f'; } /* '' */
.icon-heart-l:before { content: '\e820'; } /* '' */
.icon-heart-m:before { content: '\e821'; } /* '' */
.icon-heart-s:before { content: '\e822'; } /* '' */
.icon-rect:before { content: '\e823'; } /* '' */
.icon-ellipse:before { content: '\e824'; } /* '' */
.icon-line:before { content: '\e825'; } /* '' */
.icon-stamp:before { content: '\e826'; } /* '' */
.icon-star-l:before { content: '\e827'; } /* '' */
.icon-star-m:before { content: '\e828'; } /* '' */
.icon-star-s:before { content: '\e829'; } /* '' */
.icon-pigment:before { content: '\e82a'; } /* '' */
.icon-mirror-no:before { content: '\e82b'; } /* '' */
.icon-convert-img:before { content: '\e82c'; } /* '' */
.icon-github:before { content: '\f056'; } /* '' */
.icon-layout-1:before { content: '\e82d'; } /* '' */
.icon-layout-2:before { content: '\e82e'; } /* '' */
.icon-layout-3:before { content: '\e82f'; } /* '' */
.icon-layout-4:before { content: '\e830'; } /* '' */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
.icon-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon-label__label {
  margin-left: 8px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
.previewer {
  width: 100%;
  height: 100%;
  background: #847562;
  position: relative;
  padding: 0 0 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.previewer--converting:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.previewer--has-imgur-link {
  padding: 0 0 102px;
}
.previewer__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.previewer__loader {
  position: absolute;
  z-index: 10;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
.previewer__actions {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #f2f0d9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.previewer__actions-wrap {
  width: 100%;
  max-width: 340px;
  padding: 0 4px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.previewer__actions-row {
  width: 100%;
  padding: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.previewer__actions-text-field {
  flex: 1 0 0;
}
.previewer__btn {
  flex: 1 0 0;
}
.previewer__btn-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
.gallery {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 52px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gallery__header {
  width: 100%;
  padding: 8px;
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gallery__title {
  flex: 1 0 0;
}
.gallery__wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.gallery__detail-wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  overflow-x: hidden;
}
.gallery__thumb {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.gallery__thumb-wrap {
  flex-basis: 33.3%;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gallery__thumb-wrap--list {
  flex-basis: 100%;
}
.gallery__thumb-img {
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
}
.gallery__thumb-img--active {
  border-color: #f00;
}
.gallery__actions {
  width: 100%;
  padding: 8px;
  background: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
.text-editor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 100;
  bottom: 0;
  left: 0;
  background: #f2f0d9;
  padding: 8px 0 0;
}
.text-editor__wrap {
  width: 320px;
}
.text-editor__row {
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text-editor__selector-btn {
  margin: 0 8px 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text-editor__flex-btn {
  flex: 1 0 0;
}
.text-editor__rotate-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}
.text-editor__rotate-slider-wrap {
  padding: 0 8px;
  flex: 1 0 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
.text-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.text-input__title {
  padding: 8px 0;
}
.text-input__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  padding: 8px;
  background: #fff;
}
.text-input__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 0;
}
.text-input__action-btn {
  flex-basis: 50%;
}
.text-input__warning {
  padding: 8px 0;
  font-size: 10px;
  color: #f00;
}
.text-input__text-field {
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
.banner-editor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 100;
  bottom: 0;
  left: 0;
  background: #f2f0d9;
  padding: 8px 0 0;
}
.banner-editor__wrap {
  width: 320px;
}
.banner-editor__row {
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner-editor__selector-btn {
  margin: 0 8px 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner-editor__flex-btn {
  flex: 1 0 0;
}
.banner-editor__rotate-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}
.banner-editor__rotate-slider-wrap {
  padding: 0 8px;
  flex: 1 0 0;
}

