@import '../../../mixin'

.banner-editor
  $display-flex()
  position absolute
  width 100%
  z-index 100
  bottom 0
  left 0
  background #f2f0d9
  padding 8px 0 0
  
  &__wrap
    width 320px

  &__row
    padding 4px
    $display-flex()

  &__selector-btn
    margin 0 8px 0 4px
    $display-flex()
  
  &__flex-btn
    flex 1 0 0
    
  &__rotate-slider
    $display-flex()
    flex 1 0 0
  
  &__rotate-slider-wrap
    padding 0 8px
    flex 1 0 0
