@import '../../../mixin'

.text-editor
  width 320px

  &__row
    padding 4px 0
    $display-flex()

  &__btn
    $display-flex()
  
  &__text-edit-btn
    flex 1 0 0
    
  &__rotate-slider
    $display-flex()
    flex 1 0 0
  
  &__rotate-slider-wrap
    padding 0 8px
    flex 1 0 0
